#nav {
    margin-left: 150px;
    margin-right: 150px;
}

#home {
    margin-top: 80px;
    margin-bottom: 150px;
}

#app {
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}

#myjobs {
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}

#myboard {
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}

#login {
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}

#signup {
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
}

.btn-link {
    color: black;
}

span {
    display: inline-block; /* change the display type           */
    margin: 10px 0;        /* apply the needed vertical margins */
}

.btn {
    margin: 3px;
    border-radius: 2rem;
}

nav {
    background: #17252A;
}

.nav-link {
    color: #FEFFFF;
    border-radius: 3px;
}

.nav-link:hover {
    background-color: #D9B310;
    color:black;
    font-weight: bold;
}

.navbar-brand {
    color: #FEFFFF;
}

.navbar-brand:hover {
    color: #FEFFFF;
}

.homepage-jumbotron {
    height: 130%;
}

.navbar {
    padding: 0;
}