.status-index {
    text-align: left;
    margin-top: 52px;
}

.note-card {
    border: 1px solid white;
    border-left-color:#d9b310;
    border-left-width: 3px;
}
    
tr {
    width: 100%;
}

.td-title {
    width: 30%;
    text-align: center;
}

.td-company {
    width: 30%;
    text-align: center;
}

.td-status {
    width: 20%;
    text-align: center;
}

.td-action {
    width: 20%;
    text-align: center;
}

.jd {
    text-align: justify;
}

.url {
    text-align: right;
}

.field {
    text-size-adjust: 70%;
    text-align: center;
}

.saved-job-detail {
    margin-top: 15px;
}

.table {
    padding: .25rem;
    vertical-align: middle;
    border-top: 0px;
}

.history-tag {
    font-weight: normal;
    font-size: medium;
    font-weight: bolder;
}

.myjobs-search {
    margin-bottom: 12px;
}