.google-map {
    min-width: max-content;
    min-height: 740px;
    z-index: auto;
}

.job-div {
    border: 1px solid white;
    border-bottom-color: #C5D6E8;
    border-bottom-width: 3px;
    z-index: 1;
    position: relative;
    top: -650px;
    left: 11px;
}

.job-div:hover {
    cursor: pointer;
}
