.quick-search {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-columns {
    column-count: 3;
}

.job-detail {
    margin-top: 15px;
}

.jd {
    text-align: justify;
}

.job-card {
    border: 1px solid white;
    border-bottom-color: #C5D6E8;
    border-bottom-width: 3px;
}

.job-card:hover {
    border: 1px solid #C5D6E8;
    /* border-left-width: 25px; */
    cursor: pointer;
}

.card-title {
    font-weight: bold;
}

.tag {
    font-weight: normal;
    font-size: small;
}