.quick-search-btn {
    font-size: small;
}

.quick-search-row {
    height: 60%;
    margin: 0;
}

.card-columns {
    column-count: 3;
}

.job-detail {
    margin-top: 15px;
}

.jd {
    text-align: justify;
}

.job-card {
    border: 1px solid white;
    border-bottom-color: #d9b310;
    border-bottom-width: 4px;
}

.job-card:hover {
    border: 1px solid #d9b310;
    cursor: pointer;
}

.card-title {
    font-weight: bold;
}

.tag {
    font-weight: normal;
    font-size: small;
}

.jumbotron {
    text-align-last: center;
    padding: 20px;
}

.form-row {
    text-align: center;
    display: inline-flex;
}

.rating {
    margin-left: 5px;  
}