.quick-search {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-columns {
    column-count: 4;
}

.job-detail {
    margin-top: 15px;
}

.jd {
    text-align: justify;
}

.url {
    text-align: right;
}