.tracking-card {
    border: 1px solid white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 8px;
    margin: 5px;
    border-radius: 3px;
    background-color: whitesmoke;
    border-left-color: #d9b310;
    border-left-width: 3px;
}

.status-column {
    /* border: 1px solid lightslategrey; */
    padding: 3px;
    margin: 4px;
    border-radius: 3px;
    width: 19%;
    background-color: #EDEDED;
}

.status-columns {
    margin: auto;
}

.column-header {
    text-align: left;
    margin: 4px;
    padding: 2px;
    margin-left: 10px;
    font-size: larger;
}

.column-body {
    height: calc(100% - 55px);
    padding-top: 1px;
}

.card-title {
    margin: 2px;
    padding: 2px;
}

.card-company {
    margin: 2px;
    padding: 2px;
    color: dimgray;
}

.note-history {
    margin: 10px;
    padding: 8px;
}

.note-time {
    color: grey;
    text-size-adjust: 80%;
}

.add-note {
    margin: 10px;
    padding: 8px;
}

.note-input {
    padding: 3px;
    height: 150px;
}

.add-row {
    padding: 3px;
}

.add-job {
    margin: 10px;
    padding: 8px;
}

.add-job-button {
    text-align: right;
    margin-right: 26px;
    margin-bottom: 10px;
}

.job-input {
    padding: 3px;
    height: 150px;
}

.add-note-button {
    border-radius: 2rem;
}

.notetime-in-modal {
    text-align: right;
}

.modal-title {
    margin-left: 10px;
}

.modal-company {
    margin-left: 10px;
    font-size: medium;
}

.search-and-add {
    margin-left: 30px;
}