<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LandinSoft</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/map_view.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script
          src="http://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous"></script>

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>   

    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
  </head>
  <body>
    <div></div>
    <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">LandinSoft</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Jobs <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myboard">My Board</a>
          </li>

          {% if current_user.is_anonymous %}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log in</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/">My Profile</a>

            <!-- should redirect to /user/current_user.id -->
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <div id="extending">
    {% block body %}
    {% endblock %}
    </div>
  </div>
  <div></div>
  <script type="text/jsx" src="/static/jsx/job_search.jsx"></script>
  <script async defer crossorigin src="https://unpkg.com/react-bootstrap@1.0.0-beta.8/dist/react-bootstrap.js"></script> 
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"
          async defer></script> -->
  </body>
</html>
