{% extends 'base.html' %}

{% block head %}
<ul class="navbar-nav mr-auto">
  <li id="signin" class="nav-item">
    <a class="nav-link" href="/user/login">Log in<span class="sr-only">(current)</span></a>
  </li>
  <li id="signup" class="nav-item">
    <a class="nav-link" href="/register">Sign up<span class="sr-only">(current)</span></a>
  </li>
</ul>
{% endblock %}


{% block body %}
<form id="search-form" class="form-inline">
  <input class="form-control mr-sm-2" type="text" name="keyword" id="keyword-field" placeholder="title, company, skill etc.">
  <span class="input-group-btn">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </span>
</form>
<div class="checkbox">
  <label>
    <input id="map-view" type="checkbox" value="false">
    Map View<br>
  </label>
</div>
<div id="search-results"></div>
<div id="map-canvas"></div>
<div id="modal"></div>

{% endblock %}
