{% extends 'base.html' %}

{% if current_user.is_authenticated %}
  Hi {{ current_user.name }}!
{% endif %}

<div id="root"></div>

{% block body %}
{% endblock %}

<!-- <form id="search-form" class="form-inline">
  <input class="form-control mr-sm-2" type="text" name="keyword" id="keyword-field" placeholder="title, company, skill etc.">
  <span class="input-group-btn">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </span>
</form>
<div class="checkbox">
  <label>
    <input id="map-view" type="checkbox" value="false">
    Map View<br>
  </label>
</div>
<div id="search-results"></div>
<div id="map-canvas"></div>
<div id="modal"></div> -->
