<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LandinSoft</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/map_view.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script
          src="http://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous"></script>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>    
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>
  </head>
  <body>
    <button type="button" class="btn btn-primary btn-sm">Go Back</button>

    <br>
    <div class="well spaced" style="width:97%">
      <h2>{{ job.title }} !</h2>
      <h4>{{ job.company_name }}</h4>
      <b>
        <!-- <p style="color:blue">Email: {{ user.email }}</p>
        <p style="color:blue">Zipcode: {{ user.zipcode }}</p> -->
      </b>
    </div>
  </body>
</html>

